body
{
    font-family: monospace;
    background-color: #333;
    font-size: 2rem;
}
.container
{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
    gap: 1rem;

}
.button
{
    border: none;
    border-radius: 0.5rem;
    font-size: 2rem;
    font-family: monospace;

}
