
.list {
    --size: 32px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;
    gap: var(--size);
}

.list > li {
    --x: 9px;
    --y: 17px;
    --blur: 25px;

    display: flex;
    background-color: gray;

    border-radius: var(--size);

    box-shadow: var(--x) var(--y) var(--blur) 10px red,
    var(--x) var(--y) var(--blur) 15px blue;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding: var(--size);

    background-color: var(--color);
}
